---
console.log("Header JS");
---

<header class="py-8 px-4 mx-auto w-full lg:py-16 lg:px-6">
    <div class="flex flex-row mx-auto items-center w-full text-center">
        <div class="grow">
            <h2 class="mb-4 text-5xl tracking-tight">
                ODS 13: Acción por el clima
            </h2>
            <p>
                Objetivo 13: Adoptar medidas urgentes para combatir el cambio
                climático y sus efectos
            </p>
        </div>
        <div class="grow-0">
            <img class="w-48 mx-auto lg:block shrink-0"
                src="https://www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2018/07/S_SDG-goals_icons-individual-rgb-13.png"
            />
        </div>
    </div>
</header>


<style></style>
